CompileFlags:
  CompilationDatabase: build
  Add:
    - -std=c++20
    - -fno-exceptions
    - -fno-rtti
  Remove:
    - -std=gnu++*
    - -fexceptions
    - -frtti
    - /EH*
    - /GR

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add:
      - clang-analyzer-*
      - bugprone-*
      - performance-*
      - modernize-use-noexcept
      - readability-identifier-naming

---
If:
  PathMatch: (build|build/.*|.*/_deps/.*)
Diagnostics:
  ClangTidy:
    Remove:
      - '*'