BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
ContinuationIndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
ReflowComments: false
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
